<div id="{dialog_name}" title="{dialog_title}">
    <div class="saveas-container">
        <p></p>
        <select class="hidden document">
            <option>docx</option>
            <option>odt</option>
            <option>txt</option>
            <option>rtf</option>
            <option>pdf</option>
        </select>
        <select class="hidden spreadsheet">
            <option>xlsx</option>
            <option>csv</option>
            <option>ods</option>
            <option>pdf</option>
        </select>
        <select class="hidden presentation">
            <option>pptx</option>
            <option>odp</option>
            <option>pdf</option>
        </select>
    </div>
</div>
